---
import Header from '../components/Header.astro'
import Main from '../components/Main.astro'
import Projects from '../components/Projects.astro'
import Contact from '../components/Contact.astro';
import BackToHome from '../components/BackToHome.astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="stylesheet" href="src/index.css">
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Facundo Salazar</title>
	</head>
	<body class="font-mono">
		<Header />
		<Main />
		<Projects />
		<Contact />
		<BackToHome />
	</body>
</html>

<script>
	const backToHome = document.querySelector('#backToHome');
	window.addEventListener('scroll', () => {
	if (window.pageYOffset > 300) {
		backToHome.classList.remove('opacity-0');
	} else{
		backToHome.classList.add('opacity-0');
	}
	});
	backToHome.addEventListener('click', () => {
		window.scrollTo({
			top: 0,
			left: 0,
			behavior: 'smooth'
		})
	})
</script>