---
import Header from '../components/Header.astro'
import Main from '../components/Main.astro'
import Projects from '../components/Projects.astro'
import Contact from '../components/Contact.astro';
import BackToHome from '../components/BackToHome.astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="../src/index.css">
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Facundo Salazar</title>
	</head>
	<body class="font-mono">
		<Header />
		<Main />
		<Projects />
		<Contact />
		<BackToHome />
	</body>
</html>

<script>
	const backToHome = document.querySelector('#backToHome');
	window.addEventListener('scroll', () => {
	if (window.pageYOffset > 300) {
		backToHome.classList.remove('opacity-0');
	} else{
		backToHome.classList.add('opacity-0');
	}
	});
	backToHome.addEventListener('click', () => {
		window.scrollTo({
			top: 0,
			left: 0,
			behavior: 'smooth'
		})
	})
</script>

<style is:global>
	html {
    	scroll-behavior: smooth;
	}
	body {
		background-image: linear-gradient(to top, #9ceaff, #b7ecff, #cfefff, #e4f2ff, #f3f7ff, #f5f5ff, #f9f3ff, #fff0ff, #ffe2f3, #ffd6ce, #ffd59d, #ffe074);
	}
</style>