---
const { title, desc, imgURL } = Astro.props;
---

<article class="flex flex-col justify-between h-52 w-52 rounded-lg shadow-md">
    <img src={imgURL} alt={`${title} project.`} class="h-[50%] rounded-t">
    <h3 class="text-slate-600 text-xs text-center px-2 text-balance uppercase font-bold">{title}</h3>
    <p class="text-slate-500 text-center text-balance text-xs p-3 rounded-b">{desc}</p>
</article>

<style>
    .text-balance {
		text-wrap: balance;
	}
</style>