<header class="p-10 fixed w-screen h-10 flex justify-between items-center top-0 left-0">
    <nav class="flex gap-5 [&>a]:text-sm [&>a]:py-[5px] [&>a]:px-[10px] [&>a]:rounded-full">
        <a href="" class="activeSection">Home</a>
        <a href="" class="text-secondaryColor">Projects</a>
        <a href="" class="text-secondaryColor">Contact</a>
    </nav>
    <div class="flex gap-2 [&>button]:text-sm [&>button]:text-secondaryColor">
        <button class="toggleTheme">ARG</button>
        <button class="toggleTheme">LightMode</button>
    </div>
</header>


