<header class="absolute w-screen flex justify-center items-center mx-auto top-0 left-0 right-0 pb-0 px-5 pt-5">
    <nav class="gap-2 md:gap-5 flex [&>a]:text-xs [&>a]:md:text-base [&>a]:py-[5px] [&>a]:px-[10px] [&>a]:rounded-full">
        <a href="#home" class="text-slate-700 transition-colors duration-300 hover:bg-slate-800 hover:text-white">Home</a>
        <a href="#projects" class="text-slate-700 transition-colors duration-300 hover:bg-slate-800 hover:text-white">Projects</a>
        <a href="#contact" class="text-slate-700 transition-colors duration-300 hover:bg-slate-800 hover:text-white">Contact</a>
    </nav>
</header>


