---
import Card from "./Card.astro";

const data = [
    {
        imageURL: "/MosteiroApp.png",
        title: "Hugo Mosteiro Amoblamientos",
        desc: "Landing Page with AstroJS, TailwindCSS. Server-side Rendering for Pages.",
        url: "https://github.com/ValentinSalazar/mosteiro",
    },
    {
        imageURL: "/importify.webp",
        title: "Importify",
        desc: "eCommerce with NextJS14, MongoDB, TailwindCSS.",
        url: "https://github.com/ValentinSalazar/TAC",
    },
    {
        imageURL: "/atenea1.webp",
        title: "Atenea studio",
        desc: "Landing Page with AstroJS & TailwindCSS",
        url: "https://github.com/ValentinSalazar/atenea",
    },
    {
        imageURL: "/atenea2.webp",
        title: "Atenea studio",
        desc: "Landing Page with AstroJS & TailwindCSS",
        url: "https://github.com/ValentinSalazar/at2",
    },
    {
        imageURL: "/tac.webp",
        title: "Trenes Argentinos Cargas",
        desc: "CRUD App. Classified Registers. Statistics Map. VanillaJS & SASS.",
        url: "https://github.com/ValentinSalazar/TAC",
    },
];
---

<div
    class="grid grid-cols-1 place-items-center gap-10 md:grid-cols-2 lg:grid-cols-3"
>
    {
        data.map((element) => (
            <Card
                imgURL={element.imageURL}
                title={element.title}
                desc={element.desc}
                url={element.url}
            />
        ))
    }
</div>
