---
import Card from './Card.astro'
import TAC from '../assets/tac.webp'
---
<div class="grid grid-cols-1 place-items-center gap-10 md:grid-cols-2 lg:grid-cols-3">
    <Card
        imgURL={TAC}
        title="Trenes Argentinos Cargas"
        desc="CRUD App. Classified Registers. Statistics Map."
    />
    <Card
    imgURL={TAC}
    title="Trenes Argentinos Cargas"
    desc="CRUD App. Classified Registers. Statistics Map."
    />
    <Card
    imgURL={TAC}
    title="Trenes Argentinos Cargas"
    desc="CRUD App. Classified Registers. Statistics Map."
    />
    <Card
    imgURL={TAC}
    title="Trenes Argentinos Cargas"
    desc="CRUD App. Classified Registers. Statistics Map."
/>
</div>