<main id="home" class="px-5 h-[90vh] w-screen flex justify-center flex-col gap-5">
    <div class="flex gap-2 flex-col">
        <h3 class="text-xl text-slate-500">Hello! My name is</h3>
        <h1 class="text-4xl leading-[2.50rem] font-bold text-slate-800">FACUNDO SALAZAR</h1>
        <p class="text-balance text-base text-slate-600 leading-6">and I'm a Computer Science and Engineering student at <a href="" class="text-slate-600">@UBA.</a></p>
        <!-- // Hacer la transicion de que esta escribiendo el texto... -->
    </div>
    <div class="socials">
        <a href="#" class="text-slate-800 text-sm border-b-[1px] border-transparent hover:border-slate-700 duration-300">GitHub</a>
        <a href="#" class="text-slate-800 text-sm border-b-[1px] border-transparent hover:border-slate-700 duration-300">LinkedIn</a>
        <button class="px-4 py-2 bg-slate-800 ">CONTACT</button>
    </div>
</main>