<main class="p-10 h-screen w-screen flex justify-center flex-col gap-5">
    <div class="flex gap-2 flex-col">
        <h3 class="text-xl text-fourthColor">Hello! My name is</h3>
        <h1 class="text-[2.50rem] leading-[2.50rem] font-semibold text-tertiaryColor">FACUNDO SALAZAR</h1>
        <p class="text-base">and I'm a Computer Science and Engineering student at <a href="">@UBA</a></p>
        <!-- // Hacer la transicion de que esta escribiendo el texto... -->
    </div>
    <div class="socials">
        <a href="#" class="text-white text-sm">GitHub</a>
        <a href="#" class="text-white text-sm">LinkedIn</a>
        <button>CONTACT</button>
    </div>
</main>