<main id="home" class="px-5 h-[90vh] w-screen flex items-center justify-center flex-col gap-5">
    <div class="flex gap-2 flex-col items-center">
        <h3 class="text-xl text-slate-500 md:text-2xl">Hello! My name is</h3>
        <h1 class="text-4xl sm:text-sm leading-[2.50rem] font-bold text-slate-700 md:text-6xl">FACUNDO SALAZAR</h1>
        <p class="text-center typing__effect text-balance text-base text-slate-600 leading-6 md:text-lg">Computer Science and Engineering student at <a href="https://www.fi.uba.ar/grado/carreras/ingenieria-en-informatica" target="_blank" class="text-slate-600 border-slate-600">@UBA</a></p>
    </div>
    <div class="flex [&>a]:mx-3 gap-2 items-center">
        <a href="https://github.com/facundoSalazar" target="_blank" class="text-slate-800 text-sm border-b-[1px] border-transparent hover:border-slate-700 duration-300">GitHub</a>
        <a href="https://www.linkedin.com/in/facundev/" target="_blank" class="text-slate-800 text-sm border-b-[1px] border-transparent hover:border-slate-700 duration-300">LinkedIn</a>
        <button class="px-4 py-2 bg-slate-800 rounded-full text-secondaryColor text-xs tracking-widest hover:bg-secondaryColor hover:text-slate-800 transition-colors duration-300 shadow-lowShadow">CONTACT</button>
    </div>
</main>
