<main
  id="home"
  class="px-5 h-[100vh] w-screen flex items-center justify-center flex-col gap-5"
>
  <div class="flex gap-2 flex-col items-center lg:gap-5">
    <h3 class="text-xl text-slate-500 md:text-2xl lg:text-2xl font-light">
      Hello! My name is
    </h3>
    <h1
      class="max-[375px]:text-3xl md text-4xl leading-[2.50rem] font-[800] text-slate-700 md:text-6xl lg:text-7xl"
    >
      VALENTIN SALAZAR
    </h1>
    <p
      class="text-center typing__effect text-balance text-base font-extralight text-slate-600 leading-6 md:text-lg lg:text-xl"
    >
      Computer Science and Engineering student at <a
        href="https://www.fi.uba.ar/grado/carreras/ingenieria-en-informatica"
        target="_blank"
        class="text-slate-600 font-bold hover:opacity-75 transition-[opacity] duration-200"
        >@UBA</a
      >
    </p>
  </div>
  <div class="flex [&>a]:mx-3 gap-2 items-center md:gap-4 lg:gap-7">
    <a
      href="https://github.com/facundoSalazar"
      target="_blank"
      class="text-slate-800 text-sm border-b-[1px] border-transparent hover:border-slate-700 duration-300 lg:text-base"
      >GitHub</a
    >
    <a
      href="https://www.linkedin.com/in/facundev/"
      target="_blank"
      class="text-slate-800 text-sm border-b-[1px] border-transparent hover:border-slate-700 duration-300 lg:text-base"
      >LinkedIn</a
    >
    <a
      href="#contact"
      class="px-4 py-2 bg-slate-800 rounded-full text-secondaryColor text-xs tracking-widest hover:bg-secondaryColor hover:text-slate-800 transition-colors duration-300 shadow-lowShadow font-bold lg:text-base"
      >CONTACT</a
    >
  </div>
</main>
