---
import ListCard from './ListCard.astro'
---

<section id="projects" class="overflow-scroll max-h-screen w-screen grid grid-cols-1 place-items-center gap-10 md:grid-cols-2 lg:grid-cols-3">
    <ListCard />
</section>