---
import ListCard from './ListCard.astro'
import SectionTitle from './SectionTitle.astro';
---

<section id="projects" class="w-screen flex flex-col items-center gap-10 mb-52">
    <SectionTitle sectionTitle="PROJECTS"/>
    <ListCard />
</section>