body {
    background-image: linear-gradient(to top, #9ceaff, #b7ecff, #cfefff, #e4f2ff, #f3f7ff, #f5f5ff, #f9f3ff, #fff0ff, #ffe2f3, #ffd6ce, #ffd59d, #ffe074);
}
header a {
    transition: color 0.3s, background-color 0.3s, border-radius 0.3s;
}
.text-balance {
    text-wrap: balance;
}
.socials {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 25px;
}
.socials button {
    border-radius: 50px;
    color: #f2f2f2;
    transition: background-color 0.3s, color 0.3s;
    letter-spacing: 1px;
    font-size: 12px;
    box-shadow: 2px 2px 4px rgba(0,0,0, 0.8);
    border: 1px solid transparent;
}
.socials button:hover {
    background-color: #f2f2f2;
    color: #333;
}

